<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sem.css" />
    <link rel="stylesheet" href="/css/_theme.css" />
    <title>ECAM/Sem-1</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <span>></span>
      <a href="/ecam">ECAM</a>
      <span>></span>
      <a href="#">Sem 1</a>
    </nav>
    <div class="container">
      <a href="sem-1/mathematics-1">
        <div class="card">Mathematics-1</div>
      </a>
      <a href="sem-1/chemistry">
        <div class="card">Chemsitry</div>
      </a>
      <a href="sem-1/english">
        <div class="card">English</div>
      </a>
      <a href="sem-1/fee">
        <div class="card">FEE</div>
      </a>
      <a href="sem-1/eg">
        <div class="card">Engineering Graphics</div>
      </a>
    </div>

    <script src="/js/_theme.js"></script>
  </body>
</html>
