<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <style>
      h1 {
        font-size: 100px;
      }
      h2 {
        font-size: 70px;
      }
      h1,
      h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>404 :(</h1>
    <h2>This page does not exist</h2>
  </body>
</html>
