<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/events.css" />
    <link rel="stylesheet" href="/css/_theme.css" />

    <title>Events</title>
  </head>
  <body>
    <h1>Events</h1>
    <div>
      <h2>
        <a href="/blog/test.html">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <div>
      <h2>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
          ipsum.
        </a>
      </h2>
      <p>19th July 2024</p>
    </div>
    <script src="/js/_theme.js"></script>
  </body>
</html>
