<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/_theme.css" />
    <title>GPA Master</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="nav">
      <div class="container">
        <h1><a href="/">GPA Master</a></h1>
        <ul>
          <li>
            <% if (data && data.payment) { %>
            <a href="#" class="notes"><%- 'ACTIVE' %></a>
            <% } else { %>
            <a href="/pro" class="notes"><%- 'PRO' %></a>
            <% } %>
          </li>
          <li>
            <button id="theme-btn">
              <img src="/images/moon-stars.svg" alt="" height="18" width="18" />
            </button>
          </li>
          <% if (data && data.avatar) { %>
          <li class="avatar">
            <div style="background-image: url('<%- data.avatar %>')"></div>
          </li>
          <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/auth">Sign in</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <!-- Banner -->
    <% if (data && data.payment) { %> <% } else { %>
    <div class="banner">
      <p>
        We provide resources made & used by <strong>9 CGPA</strong> holders.
        Access them all with just one purchase of our <a href="/pro">PRO</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-stars"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
          />
        </svg>
      </p>
    </div>
    <% } %>

    <!-- Hero section -->
    <section class="hero-section">
      <div class="container">
        <div>
          <h1>GPA Master</h1>
          <p>A better way to prepare for exams.</p>
          <button>
            <a href="#notes-section">Go to notes</a>
          </button>
        </div>
        <div>
          <img src="/images/hero.svg" alt="" />
        </div>
      </div>
      <div class="events">
        <div>
          <h2>Current Events</h2>
          <ul id="links">
            <li>
              <a href="/events" id="link"></a>
            </li>
          </ul>
          <div id="see-more-btn">
            <a href="/events">See More...</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Notes section -->
    <section class="notes-section" id="notes-section">
      <div class="container">
        <div class="main">
          <h1>Notes</h1>
          <ul class="cards">
            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="/images/csda.jpg" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">CSDA</h2>
                  <p class="card_text">All notes of CSDA</p>
                  <a href="/csda" class="btn card_btn">Get Notes</a>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="/images/csiot.jpg" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">CSIOT</h2>
                  <p class="card_text">All notes of CSIOT</p>
                  <a href="/csiot" class="btn card_btn">Get Notes</a>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="/images/ecam.jpg" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">ECAM</h2>
                  <p class="card_text">All notes of ECAM</p>
                  <a href="/ecam" class="btn card_btn">Get Notes</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonial-section">
      <div class="container">
        <h2>What they say</h2>
        <div>
          <div>
            <p>
              I've been using this website for my engineering studies and I must
              say it's been a life saver! The study materials are
              well-organized, easy to navigate and cover all the essential
              topics in my curriculum. Thanks to this website, I've been able to
              stay on top of my coursework and achieve academic success.
            </p>
          </div>
          <div>
            <p>
              I stumbled upon this website while searching for study materials
              for my exams, and I'm so glad I did! The resources provided here
              are of top quality. I've noticed a significant improvement in my
              grades since I started using this platform.
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>
              As a busy engineering student, having access to quality study
              materials online has been a game-changer for me. This webste
              offers a wide range of resources, from lecture notes to practice
              problems, that have greatly enhanced my learning experience. I'm
              grateful for the convenience and effectiveness of this platform.
            </p>
          </div>
          <div>
            <p>
              I can't thank this website enough for the invaluable study
              material it offers. The practice quizzes and exam prep resources
              have been instrumental in helping me ace my engineering exams. The
              convenience of accessing these materials online has made studying
              more efficient and productive. Highly recommended for all
              engineering students!
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div>
          <a
            target="_blank"
            href="https://merchant.razorpay.com/policy/Og51W3JFp4hAAO/privacy"
            >Privacy Policy</a
          ><a
            target="_blank"
            href="https://merchant.razorpay.com/policy/Og51W3JFp4hAAO/terms"
            >Terms & conditions</a
          >
          <a
            target="_blank"
            href="https://merchant.razorpay.com/policy/Og51W3JFp4hAAO/refund"
            >Cancellation and Refund</a
          >
        </div>
        <div>
          <a
            target="_blank"
            href="https://merchant.razorpay.com/policy/Og51W3JFp4hAAO/shipping"
            >Shipping and Delivery</a
          >
          <a
            target="_blank"
            href="https://merchant.razorpay.com/policy/Og51W3JFp4hAAO/contact_us"
            >Contact Us</a
          >
        </div>
        <p>Copyright &copy; All rights reserved</p>
        <p>
          Contact:
          <a href="mailto:officialgpamaster@gmail.com"
            >officialgpamaster@gmail.com</a
          >
        </p>
      </div>
    </footer>

    <script src="/js/_theme.js"></script>
    <script src="/js/release-notes.js"></script>
  </body>
</html>
