<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and conditions</title>
    <style>
      body {
        padding: 10px 20px;
      }
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      p {
        line-height: 1.5rem;
      }
    </style>
  </head>
  <body>
    <h1>Terms and Conditions</h1>

    <h2>Welcome to GPA Master</h2>

    <p>
      These terms and conditions outline the rules and regulations for the use
      of GPA Master's Website, located at
      <a href="https://gpamaster.in/">https://gpamaster.in/</a>.
    </p>

    <p>
      By accessing this website, we assume you accept these terms and
      conditions. Do not continue to use GPA Master if you do not agree to take
      all of the terms and conditions stated on this page.
    </p>

    <p>
      The following terminology applies to these Terms and Conditions, Privacy
      Statement, and Disclaimer Notice and all Agreements: "Client," "You," and
      "Your" refers to you, the person who logs on this website and is compliant
      with the Company’s terms and conditions. "The Company," "Ourselves," "We,"
      "Our," and "Us" refers to our Company. "Party," "Parties," or "Us" refers
      to both the Client and ourselves. All terms refer to the offer,
      acceptance, and consideration of payment necessary to undertake the
      process of our assistance to the Client in the most appropriate manner for
      the express purpose of meeting the Client’s needs in respect of the
      provision of the Company’s stated services, in accordance with and subject
      to, prevailing law of India. Any use of the above terminology or other
      words in the singular, plural, capitalization, and/or he/she or they, are
      taken as interchangeable and therefore as referring to the same.
    </p>

    <h3>Accounts</h3>

    <p>
      When you create an account with us, you must provide us with information
      that is accurate, complete, and current at all times. Failure to do so
      constitutes a breach of the Terms, which may result in the immediate
      termination of your account on our Service.
    </p>

    <p>
      You are responsible for safeguarding the password that you use to access
      the Service and for any activities or actions under your password, whether
      your password is with our Service or a third-party service.
    </p>

    <p>
      You agree not to disclose your password to any third party. You must
      notify us immediately upon becoming aware of any breach of security or
      unauthorized use of your account.
    </p>

    <h3>Purchases</h3>

    <p>
      If you wish to purchase any product or service made available through the
      Service ("Purchase"), you may be asked to supply certain information
      relevant to your Purchase, including, without limitation, your credit card
      number, the expiration date of your credit card, your billing address, and
      your shipping information.
    </p>

    <p>
      You represent and warrant that: (i) you have the legal right to use any
      credit card(s) or other payment method(s) in connection with any Purchase;
      and that (ii) the information you supply to us is true, correct, and
      complete.
    </p>

    <p>
      We may employ the use of third-party services for the purpose of
      facilitating payment and the completion of Purchases. By submitting your
      information, you grant us the right to provide the information to these
      third parties subject to our Privacy Policy.
    </p>

    <h3>Intellectual Property</h3>

    <p>
      The Service and its original content, features, and functionality are and
      will remain the exclusive property of GPA Master and its licensors.
    </p>

    <p>
      The Service is protected by copyright, trademark, and other laws of both
      India and foreign countries. Our trademarks and trade dress may not be
      used in connection with any product or service without the prior written
      consent of GPA Master.
    </p>

    <h3>Termination</h3>

    <p>
      We may terminate or suspend your account immediately, without prior notice
      or liability, for any reason whatsoever, including without limitation if
      you breach the Terms.
    </p>

    <p>
      Upon termination, your right to use the Service will cease immediately. If
      you wish to terminate your account, you may simply discontinue using the
      Service.
    </p>

    <h3>Limitation of Liability</h3>

    <p>
      In no event shall GPA Master, nor its directors, employees, partners,
      agents, suppliers, or affiliates, be liable for any indirect, incidental,
      special, consequential, or punitive damages, including without limitation,
      loss of profits, data, use, goodwill, or other intangible losses,
      resulting from (i) your access to or use of or inability to access or use
      the Service; (ii) any conduct or content of any third party on the
      Service; (iii) any content obtained from the Service; and (iv)
      unauthorized access, use, or alteration of your transmissions or content,
      whether based on warranty, contract, tort (including negligence), or any
      other legal theory, whether or not we have been informed of the
      possibility of such damage, and even if a remedy set forth herein is found
      to have failed of its essential purpose.
    </p>

    <h3>Disclaimer</h3>

    <p>
      Your use of the Service is at your sole risk. The Service is provided on
      an "AS IS" and "AS AVAILABLE" basis. The Service is provided without
      warranties of any kind, whether express or implied, including, but not
      limited to, implied warranties of merchantability, fitness for a
      particular purpose, non-infringement, or course of performance.
    </p>

    <p>
      GPA Master, its subsidiaries, affiliates, and its licensors do not warrant
      that a) the Service will function uninterrupted, secure, or available at
      any particular time or location; b) any errors or defects will be
      corrected; c) the Service is free of viruses or other harmful components;
      or d) the results of using the Service will meet your requirements.
    </p>

    <h3>Governing Law</h3>

    <p>
      These Terms shall be governed and construed in accordance with the laws of
      India, without regard to its conflict of law provisions.
    </p>

    <p>
      Our failure to enforce any right or provision of these Terms will not be
      considered a waiver of those rights. If any provision of these Terms is
      held to be invalid or unenforceable by a court, the remaining provisions
      of these Terms will remain in effect. These Terms constitute the entire
      agreement between us regarding our Service and supersede and replace any
      prior agreements we might have between us regarding the Service.
    </p>

    <h3>Changes</h3>

    <p>
      We reserve the right, at our sole discretion, to modify or replace these
      Terms at any time. If a revision is material we will try to provide at
      least 30 days' notice prior to any new terms taking effect. What
      constitutes a material change will be determined at our sole discretion.
    </p>

    <p>
      By continuing to access or use our Service after those revisions become
      effective, you agree to be bound by the revised terms. If you do not agree
      to the new terms, please stop using the Service.
    </p>

    <h3>Contact Us</h3>

    <p>
      If you have any questions about these Terms, please contact us at
      support@gpamaster.in.
    </p>
  </body>
</html>
