<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/unauthorized.css" />
    <title>BUY OUR PRO</title>
  </head>
  <body>
    <a href="/" class="back">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        />
      </svg>
    </a>
    <div class="container">
      <h1>Buy our Pro</h1>
      <h2>
        Full semester access with <br />
        one purchase!
      </h2>
      <div class="hero">
        <h3>For Rs <ins>99</ins> <del>129</del> only!</h3>
        <ul class="list">
          <li>Full Semester Access</li>
          <li>Access notes of all semesters</li>
          <li>PYQs, books and more</li>
        </ul>
        <form class="pay-form" id="pay-form">
          <input type="hidden" id="name" name="name" value="Pro" />
          <input type="hidden" id="amount" name="amount" value="99" />
          <input
            type="hidden"
            id="description"
            name="description"
            value="Pro Buying"
          />
          <input id="pay" type="submit" value="Pay Now" />
        </form>
      </div>
      <p>Already have pro? <a href="/auth">Try loging in again.</a></p>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      document.getElementById('pay-form').addEventListener('submit', payNow)

      async function payNow(e) {
        e.preventDefault()
        const amount = document.getElementById('amount').value

        // Create order by calling the server endpoint
        const response = await fetch('/pro/create-order', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            amount,
            currency: 'INR',
            receipt: 'receipt#1',
            notes: {},
          }),
        })

        const order = await response.json()

        // Open Razorpay Checkout
        const options = {
          key: order.key_id, // Replace with your Razorpay key_id
          amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          currency: 'INR',
          name: order.name,
          description: 'PRO Subscription',
          order_id: order.order_id, // This is the order_id created in the backend
          callback_url: '/pro/verify', // Your success URL
          prefill: {
            name: order.name,
            email: order.email,
            contact: '',
          },
          theme: {
            color: '#F37254',
          },
        }

        const rzp = new Razorpay(options)
        rzp.open()
      }
    </script>
  </body>
</html>
