<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/unauthorized.css" />
    <title>Access denied</title>
  </head>
  <body>
    <div class="container">
      <h1>Buy our Pro</h1>
      <h2>Lifetime access with one purchase!</h2>
      <div class="hero">
        <h3>Only Rs 99/-</h3>
        <ul class="list">
          <li>Lifetime access</li>
          <li>Access notes of all semesters</li>
          <li>Previous year papers</li>
        </ul>
        <a href=""><div>Buy pro</div></a>
      </div>
      <p>Already have pro? <a href="/auth">Try loging in again.</a></p>
    </div>
  </body>
</html>
