<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/notes.css" />
    <link rel="stylesheet" href="/css/_theme.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <span>></span>
      <a href="/csda">Csda</a>
      <span>></span>
      <a href="/csda/sem-1">Sem 1</a>
      <span>></span>
      <a href="#">Mathematics-1</a>
    </nav>
    <div class="container-box">
      <h1>Notes</h1>
      <div class="container">
        <a href="/view-pdf/0" target="_blank">
          <h2>Unit 1</h2>
          <div class="card"></div>
        </a>
        <a href="">
          <h2>Unit 2</h2>
          <div class="card"></div>
        </a>
        <a href="">
          <h2>Unit 3</h2>
          <div class="card"></div>
        </a>
        <a href="">
          <h2>Unit 4</h2>
          <div class="card"></div>
        </a>
        <a href="">
          <h2>Unit 5</h2>
          <div class="card"></div>
        </a>
      </div>
      <h1>PYQs</h1>
      <div class="container">
        <a href="">
          <h2>2023</h2>
          <div class="card"></div>
        </a>
        <a href="" target="_blank">
          <h2>2023</h2>
          <div class="card"></div>
        </a>
      </div>
    </div>

    <script src="/js/_theme.js"></script>
  </body>
</html>
