<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sem.css" />
    <link rel="stylesheet" href="/css/_theme.css" />
    <title>CSDA/Sem-1</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <span>></span>
      <a href="/csda">Csda</a>
      <span>></span>
      <a href="/csda/sem-1">Sem 1</a>
      <span>></span>
      <a href="#">Mathematics 1</a>
    </nav>
    <div class="container">
      <a href="/notes/mathematics-1/books">
        <div class="card">Books</div>
      </a>
      <a href="/notes/mathematics-1/handwritten-notes">
        <div class="card">Handwritten Notes</div>
      </a>
      <a href="/notes/mathematics-1/syllabus">
        <div class="card">Syllabus</div>
      </a>
      <a href="/notes/mathematics-1/yt-links">
        <div class="card">Youtube Links</div>
      </a>

    <script src="/js/_theme.js"></script>
  </body>
</html>
